<%= content_tag("h3", broadcast.title.html_safe) %>
<p><%= content_tag("span", :class => :channel) do %>
  <%= broadcast.channel.name.html_safe %> at <%= content_tag("span", broadcast.start.strftime('%H:%M'), :class => :time) %></p>
<% end %>

<p><%= content_tag("span", broadcast.synopsis.html_safe, :class => :description)%>
<%= content_tag("span", hours_and_minutes(broadcast.duration), :class => "prog-length") %></p>

<p class="viewer-names">There are <strong><%= total %> people</strong> watching this programme tonight including the following from your Twitter feed:</p>

<ul class="viewer-names">
  <% friends.each do |friend| %>
    <li><a href="http://twitter.com/<%= friend.twitter.screen_name %>"><%= friend.twitter.screen_name %></a></li>
  <% end %>
</ul>


