<%= content_tag("li", :id => "broadcast#{broadcast.id}", :class => :two) do %>
	<%= content_tag("h3", link_to(prevent_widows(broadcast.title.html_safe).html_safe, broadcast)) %>
	<%= content_tag("span", :class => :channel) do %>
		<%= broadcast.channel.name.html_safe %>
		<%= content_tag("span", broadcast.start.strftime('%H:%M'), :class => :time) %>
		<%= image_tag("film-icon.png", :alt => "Film") if broadcast.is_film %>
	<% end %>
	<%= image_tag(broadcast.image.url(:thumb)) if broadcast.image_file_name %>
	<%= content_tag("span", :class => :description) do %>
		<%= truncate(broadcast.synopsis, :separator => ' ', :length => 80).html_safe %>
	<% end %>
	<%= content_tag("span", hours_and_minutes(broadcast.duration), :class => "prog-length") %>

	<% if signed_in? %>
                <%= render :partial => '/pages/watchers', :locals => { :user => current_user, :broadcast => broadcast } %>
	<% end %>
		
	<% if signed_in? %>
		<% intention = broadcast.intentions.find_by_user_id(current_user.id) %>

		<% unless intention %>
			<%= link_to new_intention_path(:broadcast_id => broadcast.id), :class => "watch-toggle", :remote => true do %><%= content_tag("span", broadcast.intentions.count.to_i.to_s, :class => :count, :title => "Number of people watching this") %><span class="buttontext">Watch</span><% end %>
		<% else %>
			<%= link_to intention_path(intention), :method => :delete, :class => "watch-toggle watching", :remote => true do %><%= content_tag("span", broadcast.intentions.count.to_i.to_s, :class => :count, :title => "Number of people watching this") %><span class="buttontext">Watch</span><% end %>
		<% end %>

	<% else %>
		<%= link_to intentions_path(:broadcast_id => broadcast.id), :method => :post, :class => "watch-toggle" do %><%= content_tag("span", broadcast.intentions.count.to_i.to_s, :class => :count, :title => "Number of people watching this") %><span class="buttontext">Watch</span><% end %>
	<% end %>
		

<% end %>
