<section>
<% unless @processing %>
		<div class="page-header">
			<h1><%= @today.strftime("%e %B %Y") %></h1> 
			<%= link_to 'Yesterday', root_path(:date => @today.yesterday) unless @today != Date.today %>
		</div>
	<hr>
<% end %>

<% @broadcasts.each_with_index do |broadcasts, index| %>
	<% if broadcasts.size > 0 %>
	<hr/>
	<section class="row programme-list">
	  <h2><%= @broadcast_titles[index] %></h2>
	  <div class="carousel">
	  <% if broadcasts.length > 6 %>
	    <p class="more-programmes">
	    <a class="prev">Previous</a> <a class="next">Next</a>
	    </p>
	  <% end %>
	  <%= content_tag("ol") do %>
	    <% broadcasts.each do |broadcast| %>
	      <%= render :partial => "broadcast", :locals => {:broadcast => broadcast} %>
	    <% end %>
	  <% end %>
	  </div>
	</section>
	<% end %>
<% end %>
</section>