

<section class="row programme-list">


<h2>7PM</h2>

<%= content_tag("ol") do %>
	<% @broadcasts_7pm.each do |broadcast| %>

		<%= render :partial => :broadcast, :local => {:broadcast => broadcast} %>

	<% end %>
<% end %>

<h2>8PM</h2>

<%= content_tag("ol") do %>
	<% @broadcasts_8pm.each do |broadcast| %>

		<%= render :partial => :broadcast, :local => {:broadcast => broadcast} %>

	<% end %>
<% end %>

<h2>9PM</h2> 

<%= content_tag("ol") do %>
	<% @broadcasts_9pm.each do |broadcast| %>

		<%= render :partial => :broadcast, :local => {:broadcast => broadcast} %>

	<% end %>
<% end %>


<h2>10PM</h2>

<%= content_tag("ol") do %>
	<% @broadcasts_10pm.each do |broadcast| %>

		<%= render :partial => :broadcast, :local => {:broadcast => broadcast} %>

	<% end %>
<% end %>


<h2>11PM</h2>

<%= content_tag("ol") do %>
	<% @broadcasts_11pm.each do |broadcast| %>

		<%= render :partial => :broadcast, :local => {:broadcast => broadcast} %>

	<% end %>
<% end %>
