<hr/>

<section class="row programme-list">
<h2>7PM</h2>
  <div class="carousel">
    <% if @broadcasts_7pm.length > 6 %>
      <button class="prev"><<</button>
      <button class="next">>></button>
    <% end %>
    <%= content_tag("ol") do %>
	<% @broadcasts_7pm.each do |broadcast| %>
		<%= render :partial => "broadcast", :locals => {:broadcast => broadcast} %>
	<% end %>
    <% end %>
  </div>
</section>

<section class="row programme-list">
<h2>8PM</h2>
  <div class="carousel">
    <% if @broadcasts_8pm.length > 6 %>
      <button class="prev"><<</button>
      <button class="next">>></button>
    <% end %>
    <%= content_tag("ol") do %>
	<% @broadcasts_8pm.each do |broadcast| %>
		<%= render :partial => "broadcast", :locals => {:broadcast => broadcast} %>
	<% end %>
    <% end %>
  </div>
</section>

<section class="row programme-list">
<h2>9PM</h2> 
  <div class="carousel">
    <% if @broadcasts_9pm.length > 6 %>
      <button class="prev"><<</button>
      <button class="next">>></button>
    <% end %>
    <%= content_tag("ol") do %>
	<% @broadcasts_9pm.each do |broadcast| %>
		<%= render :partial => "broadcast", :locals => {:broadcast => broadcast} %>
	<% end %>
    <% end %>
  </div>
</section>

<section class="row programme-list">
<h2>10PM</h2>
  <div class="carousel">
    <% if @broadcasts_10pm.length > 6 %>
      <button class="prev"><<</button>
      <button class="next">>></button>
    <% end %>
    <%= content_tag("ol") do %>
	<% @broadcasts_10pm.each do |broadcast| %>
		<%= render :partial => "broadcast", :locals => {:broadcast => broadcast} %>
	<% end %>
    <% end %>
  </div>
</section>

<section class="row programme-list">
<h2>11PM</h2>
  <div class="carousel">
    <% if @broadcasts_11pm.length > 6 %>
      <button class="prev"><<</button>
      <button class="next">>></button>
    <% end %>
    <%= content_tag("ol") do %>
	<% @broadcasts_11pm.each do |broadcast| %>
		<%= render :partial => "broadcast", :locals => {:broadcast => broadcast} %>
	<% end %>
    <% end %>
  </div>
</section>
