
<h1>Edit Broadcast</h1>

  <%= image_tag(@broadcast.image.url(:medium)) if @broadcast.image_file_name %>

<%= form_for @broadcast do |f| %>

  <%= render :partial => "fields", :locals => {:f => f, :channels => @channels} %>

  <%= f.submit "Save" %>

<% end %>

<%= button_to "Delete", broadcast_path(@broadcast), {:method => :delete} %>